.footer {
  position: fixed;   
  bottom: 0;
  left: 0;
  width: 100%;

  padding: 15px 350px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #94a3b8;

}

.footer ul {
  list-style: none;
  display: flex;
  gap: 24px;
}
