.login-layout {
  flex: 1;
  display: flex;
  background-color: #fff;
}

.login-left {
  margin-top: 100px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card-box {
  width: var(--form-width);
  background: #fff;
  padding: 38px 30px;
  border-radius: 20px;
  box-shadow: 0 20px 60px rgba(0,0,0,.08);
}

.login-card-box h2 {
  color: #000;
  text-align: center;
  margin-bottom: 6px;
}

.login-card-box p {
  text-align: center;
  color: #94a3b8;
  font-size: 13px;
  margin-bottom: 22px;
}

.login-card-box label {
  font-size: 13px;
  color: #475569;
}

.login-card-box input {
  width: 100%;
  padding: 12px;
  margin: 8px 0 14px;
  border-radius: 10px;
  border: 1px solid #e2e8f0;
}

.login-remember {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 13px;
}

.login-switch {
  position: relative;
  width: 38px;
  height: 20px;
}

.login-switch input {
  opacity: 0;
}

.login-slider {
  position: absolute;
  inset: 0;
  background: #cbd5e1;
  border-radius: 20px;
}

.login-password-field {
  position: relative;
}

.login-password-field input {
  width: 100%;
  padding: 12px;
  margin: 8px 0 14px;
  border-radius: 10px;
  border: 1px solid #e2e8f0;
  padding-right: 40px;
}

.login-password-field i {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #94a3b8;
  font-size: 14px;
  transition: 0.2s;
}

.login-password-field i:hover {
  color: #42d3c4;
}


.login-slider::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: .3s;
}

.login-switch input:checked + .login-slider {
  background: #42d3c4;
}

.login-switch input:checked + .login-slider::before {
  transform: translateX(18px);
}

.login-btn-main {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 12px;
  background: #42d3c4;
  color: #fff;
  margin-top: 18px;
  cursor: pointer;
}

.login-signup-link {
  text-align: center;
  font-size: 13px;
  margin-top: 18px;
}

.login-card-box .login-signup-link {
  color: #000;
}

.login-signup-link span {
  color: #42d3c4;
  cursor: pointer;
}

.login-social {
  margin-top: 18px;
  display: flex;
  justify-content: center;
  gap: 14px;
}

.login-social i {
  width: 44px;
  height: 44px;
  border-radius: 12px;
  border: 1px solid #e2e8f0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.login-right {
  margin-top: 20px;
  flex: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-right img {
  margin-right: 200px;
  width: var(--image-width);
}
